body{
  background-image:url('https://github.com/sooahcho25/snow_web/blob/main/image/image1.PNG?raw=true');
  background-size:cover;
  margin:0;
  padding:0;
  transition: background-image 1s ease-in-out;
}

